.projects .container h1{
    padding: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.projects .container{
    padding: 0 4rem 3rem 4rem;


}

.projects .container .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

.projects .container .grid .card{
    background: #fff;
    padding: 3rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.projects .container .grid p{
    padding: 1rem 0;
}

.projects .container .grid .card button{
    padding: 0.7rem 2.5rem;
    background: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    cursor: pointer;
    margin: 1rem 0;
    transition: 0.3s;
    
}

.projects .container .grid .card button:hover{
    opacity: 1;
    background-color: var(--secondary);
    color: var(--primary);
    opacity: 0.7;
}


.projects .container .grid .card img{
    width: 100%;
    height: auto;
}

.projects .container .grid .card h3{
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.projects .container .grid .card p{
    padding: 1rem 0;
    font-size: 1rem;
    text-align: left;
}
.projects .container .grid .card .techStack i{
    font-size: 0.9rem;
    padding-right: 0.5rem;
}


@media screen and (max-width: 1240px){
    .projects .container .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 940px){
    .projects .container .grid{
        grid-template-columns: 1fr;
    }
    .projects .container{
        padding: 0 0.5rem 3rem 0.5rem;
    }
}