.resume .container h1{
    padding: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.textLayer{
    display: none;
}

.annotationLayer{
    display: none;
}

.react-pdf__Page__canvas{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid #000;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.resume .container .download{
    text-align: center;
    padding: 2rem 0;
}

.resume .resumepdf{
    text-align: center;
}

.resume .container .download button{
    padding: 0.7rem 1.5rem;
    background: var(--primary);
    color: var(--secondary);
    font-style: italic;
    font-family: "Anta",'Roboto Mono', sans-serif;
    font-weight: bolder;
    border: 2px solid var(--secondary);
    cursor: pointer;
    margin: 1rem 0;
    transition: 0.2s;
}

.resume .container .download button:hover{
    opacity: 1;
    background-color: var(--secondary);
    color: var(--primary);
    opacity: 0.8;
}

