.about .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.about .container .left{
    padding: 1rem 3rem;
}

.about h1,h2{
    padding: 1rem 0;
}

.about h4{
    padding: 1rem 0;
}

.about p{
    padding: 0.5rem 0;
}

.about .img-container{
    padding: 0 0 0 1rem ;
}

.about .container .right{
    padding: 0rem 1rem 1rem 1rem;
}

.about .container .right .img-container img{
    max-width: 100%;
}


@media screen and (max-width: 940px){
    .about .container{
        grid-template-columns: 1fr;
    }

    .about .container .left{
        padding: 1rem 1rem;
    }

    .about .container .right{
        padding: 1rem 1rem;
    }
    .about .container .right .img-container{
        text-align: center;
    }

    .about .container .right .img-container img{
        max-width: 70%;
    }
}

@media screen and(max-width:440px){
    .about .container .left h1{
        padding: 0;
    }
    
}



.aboutDown{
    padding: 6rem;
    text-align: center;
}

.aboutDown .lang h3{
    padding: 2rem 0;
    font-size: 2rem;
}

.aboutDown .lang{
    text-align: center;
}

.aboutDown .lang .stack{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
   
}

.aboutDown .container .lang .stack div:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.aboutDown .container .lang .stack div{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.aboutDown .lang .stack div img{
    max-width: 100%;
    filter: grayscale(100%);
}

.aboutDown .container .tech .stack :nth-child(5) img{
    width: 58px;
    opacity: 0.6;
}

@media screen and (max-width: 940px){
    .aboutDown{
        padding: 0 3rem;
    }
    .aboutDown .container .lang .stack{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .about .container .left{
        padding: 1rem 1rem;
    }

    .about .container .right{
        padding: 1rem 1rem;
    }
    .about .container .right .img-container{
        text-align: center;
    }

    .about .container .right .img-container img{
        max-width: 70%;
    }
}

@media screen and (max-width:480px){
    .aboutDown .container{
        padding: 0;
    }

    .aboutDown .container h3{
        font-size: 1.9rem;
    }
}




.github{
    padding: 2rem;
    text-align : center;
}

.github .container{
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.github .container h3{
    padding-bottom: 2rem;
    font-size: 2rem;

}

.github .container .calen{
    justify-content: center;
    opacity: 0.8;
    padding-bottom: 2rem;
}

@media screen and (max-width: 940px){
    .github .container .calen {
            max-width: 100%;
        }
}

@media screen and (max-width: 768px){
    
    .about .container .right .img-container img{
        max-width: 100%;
    }

    .about .container .right {
        padding: 0;
    }

    .aboutDown{
        padding: 0 1rem;
    }
    .aboutDown .container .lang .stack{
        grid-template-columns: 1fr 1fr;
    }

    .github .container{
        padding: 0;
    }

   
}