/* First Home Page - entry */

.home .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.home .container .left{
    padding: 1rem 3rem;
}

.home h1{
    padding: 1rem 0;
}

.home h3{
    padding: 2rem 0;
}

.home .img-container{
    padding: 0 1rem 1rem 1rem ;
}

.home .container .right{
    padding: 0 3rem 1rem 3rem ;
}

.home .container .right .img-container img{
    max-width:100%;
}

@media screen and (max-width: 768px){
    .home .container{
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
    .home .container .right{
        padding: 0;
    }
    .home .container .right .img-container{
        padding: 0;
    }
    
}

@media screen and (max-width: 480px){
    .home h2{
        padding : 1rem 0;   
    }
    .home .container .left{
        padding: 1rem 1rem;
    }
    .home .container .right{
        padding: 0 3rem;
    }
    .home .container .right .img-container img{
        max-width: 100%;
    }
    .home .container .right .img-container{
        padding: 1rem 0;
    }

    
}


/* Second Home page */

.homeDown{
    padding: 2rem 0;
}
.homeDown .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.homeDown .container .left{
    padding: 1rem 3rem;
}

.homeDown .container .right{
    padding: 1rem 3rem;
}

.homeDown h2{
    padding: 1rem 0;
}

.homeDown p{
    padding: 1rem 0 ;
}


.homeDown .container .right .img-container img{
    max-width: 100%;
    width: 400px;
    height: 300px;
}

.homeDown .container .right .img-container{
    text-align: center;
}

.contactt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactt ul{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

.contactt li:hover{
    opacity: 0.6;
}

.contactt h3{
    font-size: 2rem;
}

.contactt  img{
    width: 30px;
    margin: 0 0.75rem;
}

@media screen and (max-width: 768px){
    .homeDown{
        padding:0;
    }
    .homeDown .container{
        grid-template-columns: 1fr;
        margin: 0;
    }
    .homeDown .container .left{
        padding: 0 3rem;
    }
    .homeDown .container .left p{
        padding: 0.5rem 0rem;
    }
    .homeDown .container .right{
        padding: 0 3rem;
    }
    .homeDown .container .right .img-container{
        padding: 1rem 0;
    }
    .homeDown .container .right .img-container img{
        max-width: 100%;
        width: 300px;
        height: 200px;
    }

    .contactt ul{
        padding: 1.5rem 0 4rem 0;
    }
}

@media screen and (max-width: 480px){
    .homeDown .container .left{
        padding: 0 1rem;
    }
}

