 
.nav-menu{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.bars{
    display: none;
}

.nav-menu li{
    margin: 0 1rem;
}

.nav-menu a{
    font: 1rem;
    font-weight: 600;
    color: var(--secondary);
}

.nav-menu a:hover{
    color: var(--secondary);
    opacity: 0.6;
}

@media screen and (max-width:1040px){
    .bars{
        display: flex;
        width: 35px;
    }
    .header .container{
        padding: 0 1.5rem;
    }
    .nav-menu{
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 4rem;
        right: -100%;
        width: 40%;
        height: 100vh;
        background: var(--primary);
        transition: all 0.5s;
        z-index: 10;
        border-left: 1px solid rgba(0, 0, 0, 0.5);

    }
    .nav-menu li{
        padding: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .nav-menu .nav-item:active{
        background-color: var(--secondary);
        opacity: 0.2;
    }

    .nav-menu.active{
        right: 0;
    }
    
}