@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.light{
    --primary: 255, 255, 255;
    --secondary: 0, 0, 0;
}

.dark{
    --primary: 0, 0, 0;
    --secondary: 255, 255, 255;
}

.red{
    --primary: 233, 82, 82;
    --secondary: 255, 255, 255;
}
.green{
    --primary: 70, 232, 70;
    --secondary: 255, 255, 255;
}

.blue{
    --primary: 87, 87, 246;
    --secondary: 255, 255, 255;
}

.pink{
    --primary: 255, 192, 208;
    --secondary: 255, 255, 255;
}

.grass{
    --primary: 70, 167, 88;
    --secondary: 255, 255, 255;
}


.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

body{
    font-family: "Anta",'Roboto Mono', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 20px;
    align-items: center;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}


/* resume page css */
.textLayer{
    display: none;
}

.annotationLayer{
    display: none;
}

.react-pdf__Page__canvas{
    display: block;
    border: 1px solid rgb(var(--secondary));
    box-shadow: 0 0 30px 0 rgba(var(--secondary), 0.6);
}
