@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: white;
    --secondary: black;
}

.primary{
    color: var(--primary);
}

.secondary{
    color: var(--secondary);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

body{
    font-family: "Anta",'Roboto Mono', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 20px;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none;
}


/* resume page css */
.textLayer{
    display: none;
}

.annotationLayer{
    display: none;
}

.react-pdf__Page__canvas{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid #000;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
